@import "./variables.scss";

@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri Bold Italic.ttf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri Light Italic.ttf");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo {
  padding: 30px 50px 0 50px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h1 {
    margin: 0;
    color: $dark-green;
    font-size: 48px;
    font-weight: 700;
    font-family: Cabin Sketch;
  }

  a {
    outline: 0;
    border: 0;
    text-decoration: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.query-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - 120px);
  overflow: hidden;
  padding: 30px 50px;
  padding-bottom: 0;
}

.page-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.query-page .page-row:last-child {
  flex: 1;
  min-height: 0;
}

.rdrDateDisplayWrapper {
  background-color: transparent !important;
}